<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoreConciseSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75A0689D1CE077C1001AA1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75A068B11CE077C2001AA1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75A068BC1CE077C2001AA1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
